@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:800,900");
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

header {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden; }

.row {
  padding: 0;
  margin: 0; }

h1 {
  color: red;
  font-size: 58px;
  text-align: center;
  font-family: Alegreya Sans, sans-serif;
  padding-top: 20%; }
  h1 span {
    font-size: 68px; }

@media (max-width: 569px) {
  h1 {
    font-size: 44px;
    padding-top: 55%; }
    h1 span {
      font-size: 44px; } }

.v1 {
  display: block; }
  .v1 video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%); }

.v2 {
  display: none; }
  .v2 video {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%); }

#video {
  position: absolute;
  bottom: 25px;
  left: 25px;
  text-align: center;
  font-family: Alegreya Sans, sans-serif; }
  #video span {
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px; }
  #video .b1 {
    color: #fff;
    padding-right: 40px;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    margin-top: 20px; }
    #video .b1 .blue {
      width: 20px;
      height: 20px;
      border: 1px solid;
      position: absolute;
      background-color: blue;
      top: 5px;
      left: 85px; }
  #video .b2 {
    color: #fff;
    padding-right: 40px;
    cursor: pointer;
    position: relative;
    font-size: 20px; }
    #video .b2 .white {
      width: 20px;
      height: 20px;
      border: 1px solid;
      position: absolute;
      background-color: #fff;
      top: 5px;
      left: 85px; }

nav {
  display: block;
  position: fixed;
  width: 500px;
  height: 500px;
  user-select: none;
  transform: translate3d(25px, -25px, 0);
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
  z-index: 999; }
  nav.open {
    transform: translate3d(0, 0, 0); }
  nav.top-right {
    top: -140px;
    right: -140px; }

.disc {
  position: absolute;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font: 25px Alegreya Sans, sans-serif;
  line-height: 40px;
  padding-top: 10px;
  border-radius: 250px;
  transform: scale3d(0.5, 0.5, 0.5) rotate3d(0, 0, 1, 190deg);
  pointer-events: none;
  opacity: 0;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s; }
  .disc p {
    transform: rotate(180deg);
    transition: 0.5s all; }
  .disc p:hover {
    font-size: 2rem; }
  .open .disc {
    pointer-events: auto;
    opacity: 1; }

.l1 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: tomato;
  transition-delay: 0s; }
  .open .l1 {
    transition-delay: 0s;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1; }
    .open .l1:hover {
      background: shade(tomato, 90%);
      color: tomato;
      transition-delay: 0s; }
    .open .l1:active {
      background: shade(tomato, 50%);
      color: tomato; }
    .open .l1.toggle {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg); }

.l2 {
  top: 50px;
  left: 50px;
  right: 50px;
  bottom: 50px;
  background: #ff7a39;
  transition-delay: 0.1s; }
  .open .l2 {
    transition-delay: 0.1s;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1; }
    .open .l2:hover {
      background: shade(#ff7a39, 90%);
      color: #ff7a39;
      transition-delay: 0s; }
    .open .l2:active {
      background: shade(#ff7a39, 50%);
      color: #ff7a39; }
    .open .l2.toggle {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg); }

.l3 {
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  background: #ff912b;
  transition-delay: 0.2s; }
  .open .l3 {
    transition-delay: 0.2s;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1; }
    .open .l3:hover {
      background: shade(#ff912b, 90%);
      color: #ff912b;
      transition-delay: 0s; }
    .open .l3:active {
      background: shade(#ff912b, 50%);
      color: #ff912b; }
    .open .l3.toggle {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg); }

.l4 {
  top: 150px;
  left: 150px;
  right: 150px;
  bottom: 150px;
  background: #ffa91c;
  transition-delay: 0.3s; }
  .open .l4 {
    transition-delay: 0.3s;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1; }
    .open .l4:hover {
      background: shade(#ffa91c, 90%);
      color: #ffa91c;
      transition-delay: 0s; }
    .open .l4:active {
      background: shade(#ffa91c, 50%);
      color: #ffa91c; }
    .open .l4.toggle {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg); }

.l5 {
  top: 200px;
  left: 200px;
  right: 200px;
  bottom: 200px;
  background: #ffc00e;
  transition-delay: 0.4s; }
  .open .l5 {
    transition-delay: 0.4s;
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 190deg);
    opacity: 1; }
    .open .l5:hover {
      background: shade(#ffc00e, 90%);
      color: #ffc00e;
      transition-delay: 0s; }
    .open .l5:active {
      background: shade(#ffc00e, 50%);
      color: #ffc00e; }
    .open .l5.toggle {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 10deg); }

.toggle {
  line-height: 100px;
  padding: 0;
  width: 100px;
  background: gold;
  opacity: 1;
  transform: none;
  pointer-events: auto;
  transition-delay: 0s; }
  .open .toggle {
    transform: rotate3d(0, 0, 1, 0deg); }
  .toggle:hover {
    background: shade(gold, 90%);
    color: gold; }
  .toggle:active {
    background: shade(gold, 50%);
    color: rgba(255, 215, 0, 0.5);
    transform: scale(0.9);
    transition-duration: 0s; }

.mob-men {
  display: none; }

.phone-call {
  position: fixed;
  bottom: 60px;
  right: 45px;
  cursor: pointer;
  z-index: 999; }
  .phone-call .uptocall-mini-phone:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/mini.png);
    background-repeat: no-repeat;
    background-position: center center;
    animation: uptocallphone 1.5s linear infinite; }

@keyframes uptocallphone {
  0% {
    transform: rotate(0); }
  10% {
    transform: rotate(15deg); }
  20% {
    transform: rotate(30deg); }
  30% {
    transform: rotate(45deg); }
  40% {
    transform: rotate(60deg); }
  50% {
    transform: rotate(75deg); }
  60% {
    transform: rotate(60deg); }
  70% {
    transform: rotate(45deg); }
  80% {
    transform: rotate(30deg); }
  90% {
    transform: rotate(15deg); }
  100% {
    transform: rotate(0); } }
  .phone-call .uptocall-mini-phone {
    border-radius: 50% !important;
    background-clip: padding-box;
    background-color: purple;
    opacity: 0.3;
    width: 60px;
    height: 60px;
    animation: uptocallmini 1.5s 0s ease-out infinite; }
  .phone-call .uptocall-mini-phone:hover {
    opacity: 1; }

@media (max-width: 569px) {
  .phone-call {
    display: none; } }

#main-logo {
  background-image: url(../img/main-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 450px;
  width: 450px;
  margin: 0 auto; }

@media (max-width: 569px) {
  #main-logo {
    height: 320px;
    width: 320px; } }

.svg {
  position: absolute;
  left: 0;
  top: 200px;
  display: none; }

@media (max-width: 1024px) {
  header h1 {
    padding-top: 52%; }
  header #menu {
    display: none; }
  header .mob-men {
    display: block; }
    header .mob-men .button_container {
      position: fixed;
      top: 10%;
      right: 45px;
      height: 27px;
      width: 35px;
      cursor: pointer;
      z-index: 100;
      transition: opacity .25s ease; }
      header .mob-men .button_container:hover {
        opacity: .7; }
      header .mob-men .button_container.active .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: #FFF; }
      header .mob-men .button_container.active .middle {
        opacity: 0;
        background: #FFF; }
      header .mob-men .button_container.active .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: #FFF; }
      header .mob-men .button_container span {
        background: red;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer; }
        header .mob-men .button_container span:nth-of-type(2) {
          top: 11px; }
        header .mob-men .button_container span:nth-of-type(3) {
          top: 22px; }
    header .mob-men .overlay {
      position: fixed;
      z-index: 10;
      background: grey;
      top: 0;
      left: 0;
      width: 100%;
      height: 0%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .35s, visibility .35s, height .35s;
      overflow: hidden; }
      header .mob-men .overlay.open {
        opacity: 0.8;
        visibility: visible;
        height: 100%; }
        header .mob-men .overlay.open li {
          font-family: Alegreya Sans, sans-serif;
          animation: fadeInRight .5s ease forwards;
          animation-delay: .35s; }
          header .mob-men .overlay.open li:nth-of-type(2) {
            animation-delay: .4s; }
          header .mob-men .overlay.open li:nth-of-type(3) {
            animation-delay: .45s; }
          header .mob-men .overlay.open li:nth-of-type(4) {
            animation-delay: .50s; }
      header .mob-men .overlay nav {
        position: relative;
        height: 70%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 50px;
        font-family: Alegreya Sans, sans-serif;
        font-weight: 400;
        text-align: center;
        width: 100%; }
      header .mob-men .overlay ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        height: 100%; }
        header .mob-men .overlay ul li {
          font-family: Alegreya Sans, sans-serif;
          display: block;
          height: 25%;
          height: calc(100% / 4);
          min-height: 50px;
          position: relative;
          opacity: 0; }
          header .mob-men .overlay ul li a {
            display: block;
            position: relative;
            color: #FFF;
            text-decoration: none;
            overflow: hidden; }
            header .mob-men .overlay ul li a:hover:after, header .mob-men .overlay ul li a:focus:after, header .mob-men .overlay ul li a:active:after {
              width: 100%; }
            header .mob-men .overlay ul li a:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 0%;
              transform: translateX(-50%);
              height: 3px;
              background: #FFF;
              transition: .35s; }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%; }
    100% {
      opacity: 1;
      left: 0; } }
    header .mob-men .w {
      display: none; }
    header .mob-men .fixed-logo {
      position: fixed;
      top: 0%;
      left: 0%;
      height: 100px;
      width: 100%;
      cursor: pointer;
      z-index: 9;
      background-color: grey;
      display: flex;
      justify-content: center; }
      header .mob-men .fixed-logo img {
        height: 70px;
        width: 70px; } }

#skill {
  min-height: 500px;
  width: 100%;
  margin: 400px 0;
  margin-top: 200px;
  padding-top: 100px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  #skill .row .main-skill h2 {
    font-family: Alegreya Sans, sans-serif;
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    color: red; }
  #skill .row .main-skill .html {
    position: absolute;
    top: 300px;
    left: 100px; }
    #skill .row .main-skill .html h3 {
      font-family: Alegreya Sans, sans-serif;
      float: left;
      font-size: 34px;
      color: red;
      transition: 1s; }
  @media (max-width: 569px) {
    #skill .row .main-skill .html {
      left: 25px; } }
  #skill .row .main-skill .js {
    padding-top: 80px; }
    #skill .row .main-skill .js h3 {
      font-family: Alegreya Sans, sans-serif;
      font-size: 34px;
      color: red;
      text-align: center;
      transition: 1s; }
  #skill .row .main-skill .js:hover .bar-75 {
    width: 75%; }
  #skill .row .main-skill .css {
    position: absolute;
    top: 300px;
    right: 100px; }
    #skill .row .main-skill .css h3 {
      font-family: Alegreya Sans, sans-serif;
      font-size: 34px;
      color: red;
      float: right;
      transition: 1s; }
  @media (max-width: 569px) {
    #skill .row .main-skill .css {
      right: 25px; } }
  #skill .row .main-skill h3:hover {
    cursor: pointer;
    font-size: 50px; }
  #skill .row .other-skills ul {
    font-family: Alegreya Sans, sans-serif;
    position: absolute;
    top: 200px;
    list-style: none;
    display: inline-flex; }
    #skill .row .other-skills ul li {
      color: red;
      font-size: 20px;
      padding-right: 20px;
      transition: 1s; }
    #skill .row .other-skills ul li:hover {
      cursor: pointer;
      font-size: 24px;
      text-shadow: 2px 2px 8px blue; }

@media (max-width: 1024px) {
  #skill {
    margin-bottom: 520px; }
    #skill .row .other-skills {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 140px; }
      #skill .row .other-skills ul {
        display: block;
        position: static;
        text-align: center; } }

#portfolio {
  height: auto;
  padding-bottom: 200px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  #portfolio h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    color: red;
    font-family: Alegreya Sans, sans-serif; }

.portfolio-main {
  margin-top: 50px;
  display: flex;
  justify-content: center; }
  .portfolio-main img {
    margin: 30px;
    width: 300px;
    height: 300px;
    opacity: 0.7;
    transition: 1s; }
  .portfolio-main img:hover {
    transform: scale(1.25);
    opacity: 1; }
  @media (max-width: 1025px) {
    .portfolio-main img {
      margin: 15px;
      width: 230px;
      height: 230px; } }
  @media (max-width: 569px) {
    .portfolio-main img {
      margin: 15px;
      width: 300px;
      height: 300px; } }

.portfolio-slider {
  margin-top: 200px; }
  .portfolio-slider .carousel-cell img {
    margin: 30px;
    width: 300px;
    height: 300px;
    transition: 1s;
    opacity: 0.3; }
  .portfolio-slider .carousel-cell img:hover {
    filter: blur(0); }
  .portfolio-slider .previous {
    left: 50px; }
  @media (max-width: 569px) {
    .portfolio-slider .previous {
      left: 5px; } }
  .portfolio-slider .next {
    right: 50px; }
  @media (max-width: 569px) {
    .portfolio-slider .next {
      right: 5px; } }
  .portfolio-slider .carousel-cell.is-selected {
    display: block;
    transition: 1s; }
    .portfolio-slider .carousel-cell.is-selected img {
      transition: 1s;
      opacity: 1; }
  .portfolio-slider .flickity-page-dots {
    display: none; }

#contact {
  margin-top: 100px;
  margin-bottom: 200px;
  font-family: Alegreya Sans, sans-serif; }
  #contact h2 {
    font-size: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    color: red; }
  #contact .row {
    padding: 0;
    margin: 0; }
    #contact .row p {
      text-align: center;
      font-size: 28px;
      color: red;
      padding-bottom: 50px; }
    #contact .row p:hover {
      cursor: pointer;
      text-shadow: 2px 2px 8px blue; }

footer {
  height: 50px;
  background-color: black; }
  footer h2 {
    text-align: center;
    color: red;
    font-size: 30px;
    padding-top: 8px; }

#form {
  position: fixed;
  right: 100px;
  bottom: 75px;
  display: none; }
  #form #icon-close {
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: -50px;
    top: -50px; }
  #form input {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 30px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid;
    border-radius: 15px;
    padding: 3px 6px;
    color: red; }
  #form textarea {
    background: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid;
    width: 100%;
    border-radius: 15px;
    padding: 5px 10px;
    color: red; }
