body, html{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header{
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
.row{
  padding: 0;
  margin: 0;
}

h1{
  color: red;
  font-size: 58px;
  text-align: center;
  font-family: Alegreya Sans, sans-serif;
  padding-top: 20%;
  span{
    font-size: 68px;
  }
}
@media (max-width: 569px) {
  h1{
    font-size: 44px;
    padding-top: 55%;
    span{
      font-size: 44px;
    }
  }
}
.v1{
  display: block;
  video{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }
}
.v2{
  display: none;
  video{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
  }
}
#video{
  position: absolute;
  bottom: 25px;
  left: 25px;
  text-align: center;
  font-family: Alegreya Sans, sans-serif;
    span{
      color: #fff;
      font-size: 16px;
      margin-bottom: 30px;
    }
    .b1{
      color: #fff;
      padding-right: 40px;
      cursor: pointer;
      position: relative;
      font-size: 20px;
      margin-top: 20px;
      .blue{
        width: 20px;
        height: 20px;
        border: 1px solid;
        position: absolute;
        background-color: blue;
        top: 5px;
        left: 85px;
      }
    }
    .b2{
      color: #fff;
      padding-right: 40px;
      cursor: pointer;
      position: relative;
      font-size: 20px;
      .white{
        width: 20px;
        height: 20px;
        border: 1px solid;
        position: absolute;
        background-color: #fff;
        top: 5px;
        left: 85px;
      }
    }
}
// menu
$size : 50px;
$items : 5;
$transition : .5s;
$bounce : cubic-bezier(.3,1.4,.5,.9);
$color-inner : gold;
$color-outer : tomato;
$background: mix($color-inner, $color-outer);
$black : shade($color-outer, 80%);
$start-scale : .5;
$start-rot : 190deg;

@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800,900');


nav {
	display: block;
	position: fixed;
	width: $size * $items * 2;
	height: $size * $items * 2;
	user-select: none;
	transform: translate3d($size*.5,-$size*.5,0);
	transition: transform $transition $bounce;
  z-index: 999;

	&.open {
		transform: translate3d(0,0,0);
	}

	&.top-right {
		top: -$size * ($items - 2.2);
		right: -$size * ($items - 2.2);
	}
}

.disc {
  	position: absolute;
  	display: inline-block;
  	text-align: center;
  	cursor: pointer;
  	font: $size*.5 Alegreya Sans, sans-serif;
  	line-height: $size * .8;
  	padding-top: $size * .2;
  	border-radius: $size * $items;
  	transform: scale3d($start-scale, $start-scale, $start-scale) rotate3d(0,0,1,$start-rot);
  	pointer-events: none;
  	opacity: 0;
  	cursor: pointer;
  	transition: transform $transition $bounce, opacity $transition;

  	p {
  		transform: rotate(180deg);
      transition: 0.5s all;
  	}
    p:hover {
      font-size: 2rem;
    }

  	.open & {
  		pointer-events: auto;
  		opacity: 1;
  	}
  }

  @for $i from 1 through $items {
  	.l#{$i} {
  		$i : $i - 1;
  		$-i : $items - $i;
  		$pct : $i/$items * 100%;
  		$color :  mix($color-inner, $color-outer, $pct);

  		top: $i * $size;
  		left: $i * $size;
  		right: $i * $size;
  		bottom: $i * $size;
  		background: $color;
  		transition-delay: $i * $transition/$items;

  		.open & {
  			transition-delay: $i * $transition/$items;
  			transform: scale3d(1,1,1) rotate3d(0,0,1,$start-rot);
  			opacity: 1;

  			&:hover {
  				background: shade($color, 90%);
  				color: $color;
  				transition-delay: 0s;
  			}

  			&:active {
  				background: shade($color, 50%);
  				color: $color;
  			}

  			&.toggle {
  				transform: scale3d(.9,.9,.9) rotate3d(0,0,1,$start-rot - 180deg);
  			}
  		}
  	}
  }

  .toggle {
  	line-height: $size*2;
  	padding: 0;
  	width: $size*2;
  	background: $color-inner;
  	opacity: 1;
  	transform: none;
  	pointer-events: auto;
  	transition-delay: 0s;

  	.open & {
  		transform: rotate3d(0,0,1,0deg);
  	}

  	&:hover {
  		background: shade($color-inner, 90%);
  		color: $color-inner;
  	}
  	&:active {
  		background: shade($color-inner, 50%);
  		color: rgba($color-inner, .5);
  		transform: scale(.9);
  		transition-duration: 0s;
  	}
  }
  // menu

.mob-men{
  display: none;
}
.phone-call{
  position: fixed;
  bottom: 60px;
  right: 45px;
  cursor: pointer;
  z-index: 999;
  .uptocall-mini-phone:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/mini.png);
    background-repeat: no-repeat;
    background-position: center center;
    animation: uptocallphone 1.5s linear infinite;
  }
  @keyframes uptocallphone {
    0%   {transform: rotate(0);}
    10%  {transform: rotate(15deg);}
    20%  {transform: rotate(30deg);}
    30%  {transform: rotate(45deg);}
    40%  {transform: rotate(60deg);}
    50%  {transform: rotate(75deg);}
    60%  {transform: rotate(60deg);}
    70%  {transform: rotate(45deg);}
    80%  {transform: rotate(30deg);}
    90%  {transform: rotate(15deg);}
    100% {transform: rotate(0);}
}
  .uptocall-mini-phone{
    border-radius: 50% !important;
    background-clip: padding-box;
    background-color: purple;
    opacity: 0.3;
    width: 60px;
    height: 60px;
    animation: uptocallmini 1.5s 0s ease-out infinite;
  }
  .uptocall-mini-phone:hover{
    opacity: 1;
  }
}
@media(max-width: 569px) {
  .phone-call{
    display: none;
  }
}
#main-logo{
  background-image: url(../img/main-logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 450px;
  width: 450px;
  margin: 0 auto;
}
@media(max-width: 569px){
  #main-logo{
    height: 320px;
    width: 320px;
  }
}
.svg{
  position: absolute;
  left: 0;
  top: 200px;
  display: none;
}

// button{
//   margin-left: 300px;
//   z-index: 9999;
// }

@media(max-width: 1024px){
  header{
    h1{
      padding-top: 52%;
    }
    #menu{
      display: none;
    }
    .mob-men{
      display: block;
      .button_container {
        position: fixed;
        top: 10%;
        right: 45px;
        height: 27px;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        transition: opacity .25s ease;

        &:hover {
          opacity: .7;
        }

        &.active {
          .top {
            transform: translateY(11px) translateX(0) rotate(45deg);
            background: #FFF;
          }
          .middle {
            opacity: 0;
            background: #FFF;
          }

          .bottom {
            transform: translateY(-11px) translateX(0) rotate(-45deg);
            background: #FFF;
          }
        }

        span {
        background: red;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition:  all .35s ease;
        cursor: pointer;

          &:nth-of-type(2) {
            top: 11px;
          }

          &:nth-of-type(3) {
            top: 22px;
          }
        }
      }

      .overlay {
        position: fixed;
        z-index: 10;
        background: grey;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;

        &.open {
          opacity: 0.8;
          visibility: visible;
          height: 100%;

          li {
            font-family: Alegreya Sans, sans-serif;
            animation: fadeInRight .5s ease forwards;
            animation-delay: .35s;

            &:nth-of-type(2) {
              animation-delay: .4s;
            }
            &:nth-of-type(3) {
              animation-delay: .45s;
            }
            &:nth-of-type(4) {
              animation-delay: .50s;
            }
          }
        }
        nav {
          position: relative;
          height: 70%;
          top: 50%;
          transform: translateY(-50%);
          font-size: 50px;
          font-family: Alegreya Sans, sans-serif;
          font-weight: 400;
          text-align: center;
          width: 100%;
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0 auto;
          display: inline-block;
          position: relative;
          height: 100%;

          li {
            font-family: Alegreya Sans, sans-serif;
            display: block;
            height: 25%;
            height: calc(100% / 4);
            min-height: 50px;
            position: relative;
            opacity: 0;

            a {
              display: block;
              position: relative;
              color: #FFF;
              text-decoration: none;
              overflow: hidden;

              &:hover:after,
               &:focus:after,
               &:active:after {
                 width: 100%;
               }

              &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 0%;
                transform: translateX(-50%);
                height: 3px;
                background: #FFF;
                transition: .35s;
              }
            }
          }
        }
      }

      @keyframes fadeInRight {
        0% {
          opacity: 0;
          left: 20%;
        }
        100% {
          opacity: 1;
          left: 0;
        }
      }
      .w{
      	display: none;
      }

      .fixed-logo{
        position: fixed;
        top: 0%;
        left: 0%;
        height: 100px;
        width: 100%;
        cursor: pointer;
        z-index: 9;
        background-color: grey;
        display: flex;
        justify-content:center;
         img{
          height: 70px;
          width: 70px;
         }
      }
    }
  }
}
