#skill{
  min-height: 500px;
  width: 100%;
  margin: 400px 0;
  margin-top: 200px;
  padding-top: 100px;
  // background-image: url(../img/skill1.jpeg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  .row{
    .main-skill{
      h2{
        font-size: 50px;
        text-align: center;
        padding-top: 50px;
        color: red;
      }
      .html{
        position: absolute;
        top: 300px;
        left: 100px;
        h3{
          float: left;
          font-size: 34px;
          color: red;
          transition: 1s;
        }
      }
      @media(max-width: 569px){
        .html{
          left: 25px;
        }
      }
      .js{
        padding-top: 80px;
        h3{
          font-size: 34px;
          color: red;
          text-align: center;
          transition: 1s;
        }
      }
      .css{
        position: absolute;
        top: 300px;
        right: 100px;
        h3{
          font-size: 34px;
          color: red;
          float: right;
          transition: 1s;
        }
      }
      @media(max-width: 569px){
        .css{
          right: 25px;
        }
      }
      h3:hover{
        cursor: pointer;
        font-size: 50px;
      }
    }
    .other-skills{
      ul{
        position: absolute;
        top: 200px;
        list-style: none;
        display: inline-flex;
        li{
          color: red;
          font-size: 20px;
          padding-right: 20px;
          transition: 1s;
        }
        li:hover{
          cursor: pointer;
          font-size: 24px;
          text-shadow: 2px 2px 8px blue;
        }
      }
    }
  }
}

@media(max-width:1024px) {
  #skill{
    margin-bottom: 520px;
    .row{
    .other-skills{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 140px;
      ul{
        display: block;
        position: static;
        text-align: center;
      }
    }
    }
  }
}
